# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/

# CRYSTAL / billy outputs
fort.*
*.d12o
*.d3o
*.out
*.w
*.p3o
*.xmgr
*.ech3
*.xyz
*.symm
prop_*.d3
geom/

# Misc
.DS_Store
Thumbs.db
